
.error{
    color: red;
}

.input{
    border-radius: 6px;
    height: 25px;
    width: 300px;
}

a#forgotPassword{
    color: blue;
    text-decoration: none;
    position: absolute;
    top: 148px;
    left: 198px;

    

}

.button{
    color: black;
    border-radius: 6px;
    cursor: pointer; 
    width: 309px;
}